body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.ban{
    background-color: rgb(229, 84, 115, 0.10);
}
.cont{
    font-size: 60px;
}
.first-img{
    width: 335px;
    height: 500px;
}
.banner{
    display: flex;
    padding: 50px 140px 0 160px;
    align-items: center;
    justify-content: space-between;
}
.btn{
    border-radius: 5px;
    background: #fd6e0a;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    cursor: pointer;
}
.head-cont{
    padding: 100px;
    text-align: center;
}
.para{
    font-size: 10px;
}
.headi{
    font-size: 40px;
}
.box-container{
    display: flex;
    gap: 15px;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 643px;
    justify-content: space-around;
}

.box-one{
    background-color: rgb(167, 33, 98, 0.15);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    width: 320px;
    height: 350px;
    padding-bottom: 0px;
}
.box-two{
    background-color: rgb(5, 151, 160, 0.15);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    width: 320px;
    height: 350px;
}
.box-three{
    background-color: rgb(71, 125, 17, 0.15);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    width: 320px;
    height: 350px;
}
.img-one{
    width: 200px;
}
.img-two{
    width: 200px;
}
.img-three{
    width: 200px;
    border-bottom: 100px;
   
}
.cap{
    text-align: center;
}